## .NET Core / .NET 8

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
obj/

# .NET Core
.vs2019/
.vs2017/
.vs/

# User-specific files
.idea/
.vscode/
*.user
*.userosscache
*.sln.docstates

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# ASP.NET temporary files
App_Data/
appsettings*.json
*.pdb
*.dbmdl
*.bak

# NUGET
packages/

# VS for Mac / Rider
.idea/

# ASP.NET Core & Entity Framework Core files
migration/
Database/

# Dotnet Test
*.coverage
*.coveragexml

# Azure Functions
local.settings.json

# Logs
*.log
*.vspscc
*.vssscc
*.scc
.sass-cache/
*.swp

## Angular

# Node.js and Angular
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
tmp/
coverage/

# Angular IDEs (IntelliJ/WebStorm, VSCode)
.idea/
.vscode/

# Dependency directories
bower_components/

# Angular CLI build artifacts
.angular/

# Yarn directory
.yarn/

# IDE Files
*.suo
*.user
*.userosscache
*.sln.docstates

# System Files
.DS_Store
Thumbs.db

# JetBrains Rider / WebStorm
.idea/

# Other files
*.pfx
*.publishsettings
*.key
*.bak